*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", sans-serif;
}

html{
    scroll-behavior:smooth; 
}

body{
    background:#f4f6ff;
    color:#222;
    overflow-x:hidden;
}

/* ===== NAVBAR ===== */
header{
    background:linear-gradient(135deg,#4f46e5,#9333ea);
    color:white;
    padding:15px 30px;
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:24px;
    font-weight:700;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:500;
}

.nav-links a:hover{
    color: rgb(102, 197, 200);
}

/* Hamburger */
.hamburger{
    display:none;
    flex-direction:column;
    gap:5px;
    cursor:pointer;
}

.hamburger span{
    width:25px;
    height:3px;
    background:white;
}

/* ===== HERO ===== */
#home{
    min-height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#6366f1,#22d3ee);
    color:white;
    padding:40px 20px;
}

#home h1{
    font-size:42px;
    margin-bottom:15px;
}

#home p{
    max-width:650px;
    font-size:18px;
    margin-bottom:25px;
}

#home button{
    padding:12px 30px;
    border:none;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
    background:white;
    color:#4f46e5;
    font-weight:600;
}

#home button:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(79,70,229,0.3);
}

/* ===== SECTIONS ===== */
section{
    padding:80px 60px;
}

.section-title{
    text-align:center;
    font-size:32px;
    margin-bottom:50px;
    color:#4f46e5;
}

/* Categories / Content */
.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.card{
    background:white;
    padding:30px;
    border-radius:16px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    text-align:center;
}

.card h3{
    margin-bottom:10px;
    color:#9333ea;
}

/* ===== FOOTER ===== */
footer{
    background:#0f172a;
    color:#c7d2fe;
    padding:40px;
    text-align:center;
}

/* ===== RESPONSIVE ===== */
@media(max-width:900px){
    .cards{
        grid-template-columns:1fr;
    }
}

@media(max-width:768px){
    .nav-links{
        position:absolute;
        top:65px;
        right:0;
        background:#4f46e5;
        flex-direction:column;
        width:100%;
        text-align:center;
        display:none;
        padding:20px 0;
    }

    .nav-links.active{
        display:flex;
    }

    .hamburger{
        display:flex;
    }
}
