        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body {
            background-color: #f4f4f4;
            color: #333;
        }

        /* Header */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 60px;
            background-color: #222;
            color: white;
        }

        nav ul {
            display: flex;
            list-style: none;
            gap: 25px;
        }

        nav a {
            text-decoration: none;
            color: white;
        }

        nav a:hover{
          color: rgb(252, 2, 2);
        }

        /* Hero Section */
        #hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 80px 20px;
            background-color: #eaeaea;
        }

        #hero h2 {
            margin-bottom: 15px;
        }

        #hero p {
            max-width: 600px;
            margin-bottom: 20px;
        }

        #hero button {
            padding: 10px 25px;
            border: none;
            background-color: #222;
            color: white;
            cursor: pointer;
        }

        #hero button:hover{
          transform: translateY(-2px);
          box-shadow: 0 8px 20px rgba(79,70,229,0.3);
        }

        /* Content Section */
        #content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            padding: 60px;
            background-color: #ffffff;
        }

        #content article {
            padding: 20px;
            border: 1px solid #ccc;
        }

        #content h3 {
            margin-bottom: 10px;
        }

        /* Footer */
        footer {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            padding: 40px 60px;
            background-color: #222;
            color: white;
        }

        footer ul {
            list-style: none;
        }

        footer a {
            text-decoration: none;
            color: white;
        }

        footer p {
            margin-top: 10px;
        }

        /* Responsive */
        @media (max-width: 768px) {
            header {
                flex-direction: column;
                gap: 15px;
            }

            #content {
                grid-template-columns: 1fr;
                padding: 30px;
            }

            footer {
                grid-template-columns: 1fr;
                text-align: center;
            }
        }
